@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Inter", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

:root {
  --main-color: #0B9586;
  --main-color-lighter: #3CAB90;
  --main-color-lighter-bg: rgba(60, 171, 144, 0.05);
  --main-color-darker: #0A8C7E;
  --green-color: #84BD3A;
  --secondary-color: #FFBB1C;
  --light-color: #FFFFFF;
  --dark-color: #283646;
  --subtext-color: #92989F;
  --dark-text-color: #2A3334;
  --heading-text-color: #101828;
  --heading-subtext-color: #475467;
  --gray-color: #B3BDC7;
  --font-size-xxl: 52px;
  --font-size-xl: 42px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-sm: 14px;
}

/* Utilities */

.section-spacing {
  padding: 40px 0;
  margin: 30px 0;
}

.font-sm {
  font-size: var(--font-size-sm);
}

.font-md {
  font-size: var(--font-size-md);
}

.font-lg {
  font-size: var(--font-size-lg);
}

.btn {
  padding: 12px 16px;
  outline: none;
  border-radius: 56px;
  transition: all 0.3s;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  font-size: var(--font-size-sm);
}

.btn-main {
  background-color: var(--main-color);
  color: var(--light-color);
  border-color: var(--main-color);
}

.btn-main:hover {
  background-color: var(--dark-color);
  border-color: var(--light-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--dark-text-color);
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-color: var(--light-color);
}

.bg-main-color {
  background-color: var(--main-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-main-color-darker {
  background-color: var(--main-color-darker);
}

.text-main-color {
  color: var(--main-color);
}

.text-light-color {
  color: var(--light-color);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1 {
  font-size: var(--font-size-xl);
  color: var(--light-color);
}

h2.dark,
h2.light {
  font-size: var(--font-size-lg);
}

h2.dark {
  color: var(--heading-text-color);
}

h2.light {
  color: var(--light-color);
}

.p-base-heading-subtext-gray {
  color: var(--heading-subtext-color);
}

.p-lg-subtext-light {
  color: var(--light-color);
}

.p-md-heading {
  color: var(--heading-text-color);
  font-size: var(--font-size-md);
}

.p-md-dark {
  color: var(--dark-text-color);
  font-size: var(--font-size-md);
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-y-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-20 {
  gap: 20px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.p-20 {
  padding: 20px;
}

.py-20 {
  padding: 20px 0;
}

.px-20 {
  padding: 0 20px;
}

.p-12 {
  padding: 12px;
}

.py-12 {
  padding: 12px 0;
}

.px-12 {
  padding: 0 12px;
}

.p-8 {
  padding: 8px;
}

.py-8 {
  padding: 8px 0;
}

.px-8 {
  padding: 0 8px;
}

.container {
  width: 95%;
  margin: auto;
}


/* Navbar */
nav {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
}

nav .nav-logo {
  width: 40px;
}

nav ul.navlinks {
  display: none;
}

nav ul li a.active {
  background-color: var(--main-color-darker);
  border-radius: 4px;
}

nav ul li a {
  display: block;
  padding: 8px 16px;
  transition: all 0.3s;
  text-transform: capitalize;
}

nav ul li a:hover {
  background-color: var(--main-color-darker);
  border-radius: 4px;
}

nav .call-us {
  display: none;
}

nav .mobile-links-container {
  display: block;
  overflow: hidden;
}

nav .menu-toggle span {
  display: block;
  height: 3px;
  width: 80%;
  background-color: var(--dark-color);
}

nav .menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

nav .mobile-links-container:hover .mobile-links {
  right: 0;
  opacity: 1;
}

nav .mobile-links {
  background-color: var(--main-color);
  padding: 12px;
  border-radius: 0 0 0 20px;
  position: absolute;
  right: -250px;
  top: 45px;
  width: 225px;
  transition: all 0.3s;
  opacity: 0;
}

nav .mobile-links ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

nav .mobile-links ul+a {
  margin: 12px 0;
}

/* Hero Section */
main .hero-section {
  min-height: 100vh;
  background-image: url("../images/hero-section.png");
  background-position: center, center;
  background-size: cover;
}

main .hero-section .container {
  display: flex;
}

main .hero-section .container .hero-section-text {
  max-width: 729px;
}

main .hero-section .container .hero-section-text p {
  max-width: 75%;
  margin: 20px 0;
}


/* Trade Section */

#trade .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#trade .images-box {
  width: 100%;
  position: relative;
}

#trade .trade-content {
  width: 100%;
  margin-bottom: 20px;
}

#trade .trade-content h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

#trade .trade-content .trade-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
  counter-reset: list-counter;
}

#trade .trade-content .trade-list li {
  position: relative;
  counter-increment: list-counter;
  padding-left: 30px;
}

#trade .trade-content .trade-list li::before {
  content: counter(list-counter, decimal-leading-zero) "/ ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-weight: bold;
  color: var(--green-color);
}

#trade .trade-content .trade-list li p {
  color: var(--heading-text-color);
  font-weight: 600;
}

#trade .solar-charging {
  display: none;
  border-radius: 16px;
  padding: 20px;
}

#trade .trade-img {
  max-height: 552px;
}

#trade .solar-charging figcaption {
  margin: 12px 0;
  padding-top: 12px;
}

#trade .solar-charging img {
  width: 90px;
}



/* Media Query */
@media screen and (min-width:768px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width:992px) {
  .container {
    width: 80%;
  }

  nav ul.navlinks {
    display: flex;
  }

  nav .call-us {
    display: block;
  }

  nav .mobile-links-container {
    display: none;
  }

  h1 {
    font-size: var(--font-size-xxl);
  }

  h2.dark,
  h2.light {
    font-size: var(--font-size-xl);
  }

  #trade .solar-charging {
    display: block;
    position: absolute;
    max-width: 250px;
    text-align: left;
    bottom: 2%;
    left: -10%;
    border-radius: 16px;
  }

  #trade .images-box {
    width: 35%;
  }

  #trade .trade-content {
    width: 60%;
    max-width: 594px;
    margin-bottom: 0;
  }

}